/*variables*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #E5E5E5; }

a {
  color: #FFFBF9;
  text-decoration: none; }

a:visited {
  color: #FFFBF9; }

.hambMenu {
  display: none; }

/*menu*/
.menu {
  margin: 5%;
  display: grid;
  grid-template-areas: "logo logo menu menu menu menu menu redes redes escribinos";
  grid-template-columns: 10%; }

/*logo*/
.logo {
  grid-area: logo;
  margin-top: -10%; }

#logo {
  width: 200px;
  height: 110px; }

nav {
  grid-area: menu; }

li {
  list-style-type: none; }

nav {
  margin-left: 10%;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500; }

nav ul li {
  display: inline-block;
  margin-left: 6%;
  padding-bottom: 10px;
  text-align: center; }

nav ul li:hover {
  box-shadow: inset 0 -3px 0 0 white; }

/*submenu*/
nav ul ul {
  display: none;
  position: absolute; }

ul li:hover ul {
  padding-top: 20px;
  display: block;
  background-color: rgba(132, 65, 49, 0.9);
  width: 15%;
  height: 400px;
  line-height: 55px;
  text-align: center; }

ul li:hover ul li {
  box-shadow: inset 0 -2px 0 0 white;
  width: 90%;
  text-align: left; }

/*inconos de redes sociales*/
.redes {
  margin-left: 30%;
  grid-area: redes;
  display: flex; }

.fab {
  padding: 0 10px 0 10px; }

/*boton escribinos*/
.escribinos {
  color: #FFF5ED;
  background-color: #844131;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 13px;
  grid-area: escribinos;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10% 2%; }

.escribinos:hover {
  color: #844131;
  background-color: #FFF5ED; }

.contenedor {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/pruebaImagenContenedor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px; }

.header {
  margin-top: 3%;
  width: 100%; }

.titulo {
  display: flex;
  justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 67px; }

.parrafo {
  display: flex;
  justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 2% 25%;
  text-align: center; }

.comprar {
  display: flex;
  justify-content: center;
  border: solid 1px;
  margin: 2% 42%;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 13px;
  padding: 0.5%; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.pie {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 10%;
  justify-content: center;
  text-align: center;
  background-color: #844131;
  color: #FFF; }
  .pieLogo {
    text-align: center; }
    .pieLogo img {
      height: 100px; }
  .pieMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }
    .pieMenu a {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 5px 20%;
      color: #FFF;
      border-bottom: 1px solid rgba(255, 255, 255, 0.212); }
  .pieRedes i {
    margin: 30px 6.5px 23px 6.5px;
    font-size: 30px; }
  .pieCopy {
    border-top: 1px solid #FFF;
    padding-top: 23px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 18px; }

@media all and (min-width: 576px) {
  .pie {
    padding: 40px 10%; }
    .pieMenu {
      flex-direction: row;
      margin-top: 22px; }
      .pieMenu a {
        margin: 0 3%;
        border-bottom: none; } }
