/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFBF9;
}

a {
  color: #FFFBF9;
  text-decoration: none;
}

a:visited {
  color: #FFFBF9;
}

/*menu*/
.menu {
  margin: 5%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo logo menu menu menu menu menu redes redes escribinos";
  -ms-grid-columns: 10%;
      grid-template-columns: 10%;
}

.hide {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #844131;
  color: #FFFBF9;
  display: none;
}

/*logo*/
.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
  margin-top: -10%;
}

#logo {
  width: 200px;
  height: 110px;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: menu;
}

li {
  list-style-type: none;
}

nav {
  margin-left: 10%;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

nav ul li {
  display: inline-block;
  margin-left: 6%;
  padding-bottom: 10px;
  text-align: center;
}

nav ul li:hover {
  -webkit-box-shadow: inset 0 -3px 0 0 white;
          box-shadow: inset 0 -3px 0 0 white;
}

/*submenu*/
nav ul ul {
  display: none;
  position: absolute;
}

ul li:hover ul {
  padding-top: 20px;
  display: block;
  background-color: rgba(132, 65, 49, 0.9);
  width: 15%;
  height: 400px;
  line-height: 55px;
  text-align: center;
}

ul li:hover ul li {
  -webkit-box-shadow: inset 0 -2px 0 0 white;
          box-shadow: inset 0 -2px 0 0 white;
  width: 90%;
  text-align: left;
}

/*inconos de redes sociales*/
.redes {
  margin-left: 30%;
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fab {
  padding: 0 10px 0 10px;
}

/*boton escribinos*/
.escribinos {
  color: #FFF5ED;
  background-color: #844131;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 13px;
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  grid-area: escribinos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10% 2%;
}

.escribinos:hover {
  color: #844131;
  background-color: #FFF5ED;
}

.contenedor {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/pruebaImagenContenedor.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 67px;
}

.parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 2% 25%;
  text-align: center;
}

.bComprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.comprar {
  margin: 0%;
  border: solid 1px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 13px;
  padding: 0.5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

@media all and (min-width: 1100px) {
  .principal {
    display: block;
  }
}

@media (max-width: 1100px) {
  nav ul li {
    width: 100%;
    display: block;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    background-color: #844131;
    -webkit-box-shadow: inset 0 -1px 0 0 white;
            box-shadow: inset 0 -1px 0 0 white;
    font-size: 20px;
    line-height: 50px;
  }
  nav ul {
    display: none;
  }
  .hide {
    display: block;
    padding: 20px;
  }
  .redes {
    display: none;
  }
  .escribinos {
    display: none;
  }
  .logo {
    display: none;
  }
  .menu {
    margin: 0%;
    display: inline;
    width: 100%;
  }
  nav {
    margin: 0%;
    padding: 0%;
  }
  .nima {
    display: inline;
    padding-left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #844131;
  color: #FFF;
}

.pieLogo {
  text-align: center;
}

.pieLogo img {
  height: 100px;
}

.pieMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pieMenu a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 20%;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.pieRedes i {
  margin: 30px 6.5px 23px 6.5px;
  font-size: 30px;
}

.pieCopy {
  border-top: 1px solid #FFF;
  padding-top: 23px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
}

@media all and (min-width: 576px) {
  .pie {
    padding: 40px 10%;
  }
  .pieMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 22px;
  }
  .pieMenu a {
    margin: 0 3%;
    border-bottom: none;
  }
}

.ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 5%;
  padding-bottom: 0;
}

.margProd {
  padding-bottom: 0px;
  margin-bottom: 50px;
}

.kit {
  padding: 20px;
}

.fichaGaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.fichaGaleria #imgPrincipal {
  position: relative;
  margin-bottom: 20px;
}

.fichaGaleria #imgPrincipal img {
  width: 100%;
  border-radius: 3%;
}

.fichaGaleria #imgPrincipal #flechaExpandir {
  position: absolute;
  right: 5%;
  top: 5%;
}

.fichaGaleria #imgPrincipal #flechaExpandir i {
  color: rgba(255, 255, 255, 0.719);
  font-size: 20px;
  text-shadow: 3px 2px 2px #000;
  cursor: pointer;
}

.fichaGaleria #imgPrincipal #flechaExpandir i:hover {
  color: #fff;
}

.fichaGaleria #contItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fichaGaleria #contItems .flecha {
  width: 20%;
}

.fichaGaleria #contItems .flecha i {
  cursor: pointer;
}

.fichaGaleria #contItems .izq {
  text-align: left;
}

.fichaGaleria #contItems .der {
  text-align: right;
}

.fichaGaleria #contItems .imgItem {
  width: 15%;
  margin: 2% 2%;
  border-radius: 13px;
  opacity: 0.6;
  cursor: pointer;
}

.fichaGaleria #contItems .imgItem:hover, .fichaGaleria #contItems .active {
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
}

.fichaInfo {
  font-family: 'Poppins';
  padding-top: 20px;
  color: #323232;
}

.fichaInfo h5 {
  font-size: 14px;
  font-weight: 200;
}

.fichaInfo h5.pago {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.fichaInfo h2 {
  font-size: 32px;
}

.fichaInfo h4 {
  font-size: 20px;
}

.fichaInfo p {
  font-size: 16px;
}

.fichaInfo p span {
  font-weight: 550;
}

.fichaInfoPrecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.fichaInfoPrecio h2 {
  font-weight: 500;
}

.fichaInfoPrecio button {
  margin-left: 5%;
  height: 32px;
  width: 100px;
  border-radius: 10px;
  background-color: #844131;
  font-size: 18px;
  color: #FFF;
  border: 1px solid #FFF;
}

@media all and (min-width: 576px) {
  .fichaGaleria #imgPrincipal {
    padding: 0 10%;
  }
  .fichaGaleria #imgPrincipal #flechaExpandir {
    right: 15%;
  }
}

@media all and (min-width: 768px) {
  .ficha {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .fichaGaleria {
    width: 30%;
    margin-right: 40px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    overflow: auto;
  }
  .fichaGaleria #imgPrincipal {
    padding: 0;
  }
  .fichaGaleria #imgPrincipal #flechaExpandir {
    right: 5%;
  }
  .fichaInfo {
    width: 60%;
    padding-top: 0;
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
  }
}

@media all and (min-width: 992px) {
  .fichaInfo {
    font-family: 'Poppins';
  }
  .fichaInfo h5 {
    font-size: 16px;
    font-weight: 200;
  }
  .fichaInfo h2 {
    font-size: 45px;
  }
  .fichaInfo h4 {
    font-size: 24px;
  }
  .fichaInfo p {
    font-size: 22px;
  }
}

#modalExpandir {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

#modalExpandir .modalImagen {
  margin: auto;
  display: block;
  width: 50%;
  -webkit-animation-name: zoomTest;
          animation-name: zoomTest;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoomTest {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomTest {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#modalExpandir .cerrarExpandir {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#modalExpandir .cerrarExpandir:hover,
#modalExpandir .cerrarExpandir:focus {
  color: #bbb;
  cursor: pointer;
}

/*carrousel de productos destacados*/
.tituloPD {
  margin: 70px 0 30px 0;
  text-align: center;
  color: #323232;
  font-family: "Poppins", sans-serif;
}

.carousel {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #FFF5ED;
  padding: 50px 0 30px 0;
}

.carousel__lista {
  padding-bottom: 30px;
}

.precio {
  color: #844131;
}

.nombre {
  color: #323232;
  font-weight: 500;
  font-size: 22px;
}

/*fila de productos*/
.fFotos {
  border-top: 1px solid #844131;
  border-bottom: 1px solid #844131;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #FFFBF9;
  margin-top: 50px;
  margin-bottom: 30px;
}

.filaFotos {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foto {
  margin: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 5px;
}

.bMas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.btnMas {
  font-family: "Poppins", sans-serif;
  background-color: #844131;
  border-radius: 25px;
  width: 142px;
  height: 48px;
  border: none;
  text-align: center;
  color: #FFFBF9;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

/*tips*/
.tipsSeccion {
  margin-top: 50px;
  margin-bottom: 30px;
}

.textoTips {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.textoTips__t {
  font-weight: 700;
  font-size: 45px;
  color: #323232;
}

.textoTips__p {
  font-size: 22px;
  font-weight: 500;
  color: #323232;
}

.tips {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: 30px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 40px;
  border-radius: 30px;
  -webkit-box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px #fff, 0 0 4px rgba(255, 255, 255, 0.2);
          box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px #fff, 0 0 4px rgba(255, 255, 255, 0.2);
}

.title {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.title__t {
  font-weight: 500;
  font-size: 22px;
  color: #323232;
  margin: 20px;
}

.title__p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 20px;
}

/*carrito*/
.carrito {
  background-image: url(../img/pDestacados/fondo.png);
  background-repeat: round;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.bloque {
  display: inline-block;
  text-align: center;
}

@media all and (max-width: 880px) {
  .carrito {
    background-image: url(../img/pDestacados/fondo-para-responsive.jpg);
    background-repeat: space;
    display: block;
    width: 100%;
  }
  .bloque {
    display: block;
    padding-top: 30px;
  }
}

.contenedorNosotros {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/nosotros/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.nuestraHistoria {
  background-color: #FFF5ED;
  padding: 100px 0;
}

.tituloNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323232;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 67px;
}

.parrafoN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #323232;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 2% 7%;
  text-align: center;
}

.infoEllos {
  text-align: center;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
}

.infoEllos__nombre {
  color: #844131;
}

.infoEllos__rol {
  color: #323232;
}

.datosEllos {
  text-align: left;
  font-family: "Poppins", sans-serif;
  padding: 20px 0;
}

.datosEllos__titulo {
  display: inline;
  color: #844131;
}

.datosEllos__dato {
  display: inline;
  color: #323232;
}

.ancho {
  background-color: #FFFBF9;
}

.contenedorEnvios {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/envios/contenedor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

.envios {
  padding: 50px 0;
}

.mapa {
  text-align: center;
}

.prods {
  border-top: none;
  border: none;
}

.listaProds .foto {
  margin-bottom: 50px;
}

.contenedorTips {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/tips/heaTip.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.contTips {
  padding: 50px 5%;
}

.tipCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #844131;
}

.tipCont .contInfo .tituloCont .tituloTip {
  color: #323232;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 67px;
}

.tipCont .contInfo .parrafoTip {
  text-align: left;
  margin: 0;
  color: #323232;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.tipCont .imagenTip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tipCont .imagenTip img {
  width: 100%;
  max-width: 500px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.76);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.76);
}

@media all and (min-width: 992px) {
  .tipCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  .tipCont .contInfo.der {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .tipCont .contInfo {
    width: 40%;
  }
  .tipCont .contInfo .tituloCont .tituloTip {
    color: #323232;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 1%;
  }
  .tipCont .contInfo .parrafoTip {
    text-align: left;
    margin: 0;
    color: #323232;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  .tipCont .imagenTip {
    width: 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tipCont .imagenTip img {
    width: 100%;
    max-height: 458px;
    max-width: none;
  }
}

@media all and (min-width: 1200px) {
  .tipCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  .tipCont .contInfo {
    width: 40%;
  }
  .tipCont .contInfo .tituloCont .tituloTip {
    color: #323232;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 67px;
    margin-bottom: 1%;
  }
  .tipCont .contInfo .parrafoTip {
    text-align: left;
    margin: 0;
    color: #323232;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  .tipCont .imagenTip {
    width: 52%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tipCont .imagenTip img {
    width: 100%;
    max-height: 458px;
  }
}

.contenedorEscribinos {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/escribinos/headerEscribinos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  width: 100%;
  height: 300px;
}

.mainEscribinos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 5%;
}

.mainEscribinos .contForm {
  background-color: #fff;
  border: 1px solid #0000000e;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.mainEscribinos .contForm h1 {
  font-weight: 700;
}

.mainEscribinos .contForm p {
  padding: 5px;
}

.mainEscribinos .contForm form {
  padding: 15px;
}

.mainEscribinos .contForm form .inputs .contInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 30px;
}

.mainEscribinos .contForm form .inputs .contInput label {
  font-weight: 500;
  text-align: left;
}

.mainEscribinos .contForm form .inputs .contInput input {
  height: 30px;
  border-color: #844131;
  border-radius: 5px;
  padding-left: 10px;
}

.mainEscribinos .contForm form .btnEnviar {
  background-color: #844131;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
}

.mainEscribinos .contForm .contContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #844131;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  padding: 5%;
}

.mainEscribinos .contForm .contContacto h2 {
  margin-bottom: 10px;
}

@media all and (min-width: 768px) {
  .mainEscribinos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10% 5%;
  }
  .mainEscribinos .contForm {
    width: 100%;
    max-width: 1020px;
  }
  .mainEscribinos .contForm h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .mainEscribinos .contForm p {
    font-size: 22px;
    padding: 5px;
  }
  .mainEscribinos .contForm form {
    padding: 50px 100px;
  }
  .mainEscribinos .contForm form .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mainEscribinos .contForm form .inputs .contInput {
    width: 48%;
  }
  .mainEscribinos .contForm form .inputs .contInput label {
    font-weight: 500;
    text-align: left;
  }
  .mainEscribinos .contForm form .inputs .contInput input {
    height: 30px;
    border-color: #844131;
    border-radius: 5px;
    padding-left: 10px;
  }
  .mainEscribinos .contForm form .btnEnviar {
    background-color: #844131;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
    border: none;
  }
  .mainEscribinos .contForm .contContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    background-color: #844131;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 5%;
  }
  .mainEscribinos .contForm .contContacto h2 {
    margin-bottom: 10px;
  }
}
