/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

a {
  color: #FFFBF9;
  text-decoration: none;
}

a:visited {
  color: #FFFBF9;
}

/*menu*/
.menu {
  margin: 5%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo logo menu menu menu menu menu redes redes escribinos";
  -ms-grid-columns: 10%;
      grid-template-columns: 10%;
}

.hide {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #844131;
  color: #FFFBF9;
  display: none;
}

/*logo*/
.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: logo;
  margin-top: -10%;
}

#logo {
  width: 200px;
  height: 110px;
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: menu;
}

li {
  list-style-type: none;
}

nav {
  margin-left: 10%;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

nav ul li {
  display: inline-block;
  margin-left: 6%;
  padding-bottom: 10px;
  text-align: center;
}

nav ul li:hover {
  -webkit-box-shadow: inset 0 -3px 0 0 white;
          box-shadow: inset 0 -3px 0 0 white;
}

/*submenu*/
nav ul ul {
  display: none;
  position: absolute;
}

ul li:hover ul {
  padding-top: 20px;
  display: block;
  background-color: rgba(132, 65, 49, 0.9);
  width: 15%;
  height: 400px;
  line-height: 55px;
  text-align: center;
}

ul li:hover ul li {
  -webkit-box-shadow: inset 0 -2px 0 0 white;
          box-shadow: inset 0 -2px 0 0 white;
  width: 90%;
  text-align: left;
}

/*inconos de redes sociales*/
.redes {
  margin-left: 30%;
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fab {
  padding: 0 10px 0 10px;
}

/*boton escribinos*/
.escribinos {
  color: #FFF5ED;
  background-color: #844131;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 48px;
  border-radius: 13px;
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  grid-area: escribinos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -10% 2%;
}

.escribinos:hover {
  color: #844131;
  background-color: #FFF5ED;
}

.contenedor {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-image: url(../img/pruebaImagenContenedor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 67px;
}

.parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFBF9;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 2% 25%;
  text-align: center;
}

.comprar {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  border-radius: 13px;
  padding: 0.5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 45% 50px 45%;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

@media all and (min-width: 1100px) {
  .principal {
    display: block;
  }
}

@media (max-width: 1100px) {
  nav ul li {
    width: 100%;
    display: block;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    background-color: #844131;
    -webkit-box-shadow: inset 0 -1px 0 0 white;
            box-shadow: inset 0 -1px 0 0 white;
    font-size: 20px;
    line-height: 50px;
  }
  nav ul {
    display: none;
  }
  .hide {
    display: block;
    padding: 20px;
  }
  .redes {
    display: none;
  }
  .escribinos {
    display: none;
  }
  .logo {
    display: none;
  }
  .menu {
    margin: 0%;
    display: inline;
    width: 100%;
  }
  nav {
    margin: 0%;
    padding: 0%;
  }
  .nima {
    display: inline;
    padding-left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #844131;
  color: #FFF;
}

.pieLogo {
  text-align: center;
}

.pieLogo img {
  height: 100px;
}

.pieMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pieMenu a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 5px 20%;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}

.pieRedes i {
  margin: 30px 6.5px 23px 6.5px;
  font-size: 30px;
}

.pieCopy {
  border-top: 1px solid #FFF;
  padding-top: 23px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 18px;
}

@media all and (min-width: 576px) {
  .pie {
    padding: 40px 10%;
  }
  .pieMenu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 22px;
  }
  .pieMenu a {
    margin: 0 3%;
    border-bottom: none;
  }
}

.hdFicha {
  height: 200px;
  width: 100%;
  background-color: #844131;
}

#contFicha {
  padding: 10%;
}

.ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.fichaGaleria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.fichaGaleria #imgPrincipal {
  position: relative;
  margin-bottom: 20px;
}

.fichaGaleria #imgPrincipal img {
  width: 100%;
  border-radius: 3%;
}

.fichaGaleria #imgPrincipal #flechaExpandir {
  position: absolute;
  right: 5%;
  top: 5%;
}

.fichaGaleria #imgPrincipal #flechaExpandir i {
  color: rgba(255, 255, 255, 0.719);
  font-size: 20px;
  text-shadow: 3px 2px 2px #000;
  cursor: pointer;
}

.fichaGaleria #imgPrincipal #flechaExpandir i:hover {
  color: #fff;
}

.fichaGaleria #contItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fichaGaleria #contItems .flecha {
  width: 20%;
}

.fichaGaleria #contItems .flecha i {
  cursor: pointer;
}

.fichaGaleria #contItems .izq {
  text-align: left;
}

.fichaGaleria #contItems .der {
  text-align: right;
}

.fichaGaleria #contItems .imgItem {
  width: 15%;
  margin: 2% 2%;
  border-radius: 13px;
  opacity: 0.6;
  cursor: pointer;
}

.fichaGaleria #contItems .imgItem:hover, .fichaGaleria #contItems .active {
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px #000;
          box-shadow: 2px 2px 2px #000;
}

.fichaInfo {
  font-family: 'Poppins';
  padding-top: 20px;
  color: #323232;
}

.fichaInfo h5 {
  font-size: 14px;
  font-weight: 200;
}

.fichaInfo h5.pago {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.fichaInfo h2 {
  font-size: 32px;
}

.fichaInfo h4 {
  font-size: 20px;
}

.fichaInfo p {
  font-size: 16px;
}

.fichaInfo p span {
  font-weight: 550;
}

.fichaInfoPrecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.fichaInfoPrecio h2 {
  font-weight: 500;
}

.fichaInfoPrecio button {
  margin-left: 5%;
  height: 32px;
  width: 100px;
  border-radius: 10px;
  background-color: #844131;
  font-size: 18px;
  color: #FFF;
  border: 1px solid #FFF;
}

@media all and (min-width: 576px) {
  .fichaGaleria #imgPrincipal {
    padding: 0 10%;
  }
  .fichaGaleria #imgPrincipal #flechaExpandir {
    right: 15%;
  }
}

@media all and (min-width: 768px) {
  #contFicha {
    padding: 5%;
  }
  .ficha {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .fichaGaleria {
    width: 30%;
    margin-right: 40px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    overflow: auto;
  }
  .fichaGaleria #imgPrincipal {
    padding: 0;
  }
  .fichaGaleria #imgPrincipal #flechaExpandir {
    right: 5%;
  }
  .fichaInfo {
    width: 60%;
    padding-top: 0;
    -webkit-box-flex: 6;
        -ms-flex-positive: 6;
            flex-grow: 6;
  }
}

@media all and (min-width: 992px) {
  .fichaInfo {
    border: 1px solid #000;
    font-family: 'Poppins';
  }
  .fichaInfo h5 {
    font-size: 16px;
    font-weight: 200;
  }
  .fichaInfo h2 {
    font-size: 45px;
  }
  .fichaInfo h4 {
    font-size: 24px;
  }
  .fichaInfo p {
    font-size: 22px;
  }
}

#modalExpandir {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

#modalExpandir .modalImagen {
  margin: auto;
  display: block;
  width: 50%;
  -webkit-animation-name: zoomTest;
          animation-name: zoomTest;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoomTest {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomTest {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#modalExpandir .cerrarExpandir {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#modalExpandir .cerrarExpandir:hover,
#modalExpandir .cerrarExpandir:focus {
  color: #bbb;
  cursor: pointer;
}
