*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.pie{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px 10% ;
    justify-content: center;
    text-align: center;
    background-color: #844131;
    color: #FFF;
    &Logo{
        text-align: center;
        img{
            height: 100px;
        }
    }
    &Menu{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        a{
            font-family: $font;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin: 5px 20%;
            color:#FFF;
            border-bottom: 1px solid rgba(255, 255, 255, 0.212);
        }
    }
    &Redes{
        i{
            margin: 30px 6.5px 23px 6.5px;
            font-size: 30px;
        }
    }
    &Copy{
        border-top: 1px solid #FFF;
        padding-top: 23px;
        padding-bottom: 10px;
        font-family: $font;
        font-size: 12px;
        line-height: 18px;
    }
}

@media all and (min-width: 576px){
    .pie{
        padding: 40px 10%;
        &Menu{
            flex-direction: row;
            margin-top: 22px;
            a{
                margin: 0 3%;
                border-bottom: none;
            }
        }
    }
}