/*variables*/
$font: 'Poppins', sans-serif;
$h1weight: 700;
$h1size: 45px;
$h2weight: 500;
$h2size: 22px;
$mainTextWeight: 400;
$mainTextSize: 20px;
$negro: #323232;
$bordo: #844131;
$crema: #FFF5ED;
$blanco: #FFFBF9;