/*variables*/
$font: 'Poppins', sans-serif;
$h1weight: 700;
$h1size: 45px;
$h2weight: 500;
$h2size: 22px;
$mainTextWeight: 400;
$mainTextSize: 20px;
$negro: #323232;
$bordo: #844131;
$crema: #FFF5ED;
$blanco: #FFFBF9;


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
}

a{
    color: $blanco;
    text-decoration: none;
}

a:visited{
    color: $blanco;
}

/*contenedor*/

.contenedor{
    width: 100%;
}

/*logo*/

#logo{
    width: 200px;
    height: 110px;
    margin: -20% 0 0 5%;
}

/*menu*/

.menu{
    color: $blanco;
    font-family: $font;
    font-size: 16px;
    line-height: 24px;
    font-weight: $h2weight;
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-left: 7%;
}

li{
    list-style-type: none;
}

nav{
    width: 45%;
    margin-left: 5%;
}

nav ul li{
    display: inline-block;
    margin: 0% 3% 2% 3%;
    padding-bottom: 10px;
    width: 12%;
    text-align: center;
}

nav ul ul{
    display: none;
    position: absolute;
}

nav ul ul li{
    display: block;
    line-height: 50px;
    width: 12%;
    text-align: center;

}

nav ul li:hover{
    box-shadow: inset 0 -3px 0 0 white;
}

/*submenu*/

ul li:hover ul{
    padding-top: 20px;
    display: block;
    background-color: rgba(132, 65, 49, 0.9);
    width: 15%;
    height: 430px;
}

ul li:hover ul li{
    box-shadow: inset 0 -2px 0 0 white;
    width: 90%;
    text-align: left;

}

/*inconos de redes sociales*/

.redes{
    margin-left: 2%;
    display: flex;
}

.fab{
    padding: 0 10px 0 10px;
}

/*boton escribinos*/

.escribinos{
    color: $crema;
    background-color: $bordo;
    font-family: $font;
    font-weight: $h2weight;
    width: 10%;
    height: 48px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1% 0 0 2%;
}

.escribinos:hover{
    color: $bordo;
    background-color: $crema;
}

.contenedor{
    display: inline-block;
    margin: 0;
    padding: 0;
    background-image: url(../img/pruebaImagenContenedor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.header{
    margin-top: 3%;
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
    color: $blanco;
    font-family: $font;
    font-size: $h1size;
    font-weight: $h1weight;
    line-height: 67px;
}

.parrafo{
    display: flex;
    justify-content: center;
    color: $blanco;
    font-family: $font;
    font-size: $h2size;
    font-weight: $h2weight;
    margin: 2% 25%;
    text-align: center;
}

.comprar{
    display: flex;
    justify-content: center;
    border: solid 1px;
    margin: 2% 42%;
    font-family: $font;
    font-size: $h2size;
    font-weight: $h2weight;
    line-height: 33px;
    border-radius: 13px;
    padding: 0.5%;
}

